@{
    ViewBag.Title = "Home Page";
}



<!--the video-entrace controls-->
<video controls>
    <source src="../video/homeVideo.mp4" type="audio/mp4" style="position:fixed;" />
</video>


<!--for facebook-like and comments-->
<script src="https://www.facebook.com/assets.php/en_US/sdk.js" async></script>
<div class="row">
    <section id="facebook">

        <div class="fb-comments" data-version="v2.3" data-href="https://www.facebook.com/MovieChart1?skip_nax_wizard=true&ref_type=logout_gear" data-numposts="3"></div>
        <div class="fb-like" data-version="v2.3" data-href="https://www.facebook.com/MovieChart1?skip_nax_wizard=true&ref_type=logout_gear" data-width="20" data-layout="button_count" data-action="like" data-Premiere-faces="true" data-share="true"></div>
    </section>
</div>

<!--for facebook-embedd post--> 
<div class="fb-post" data-href="https://www.facebook.com/MovieChart1/posts/909850685743051" style="position:initial;" data-width="500" >
    <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/MovieChart1/posts/909850685743051">
            <p>
                hope you enjoy MovieChart
            </p>Posted by ‎<a href="#" role="button">Ben And Adam 2016</a>‎ on&nbsp;<a href="https://www.facebook.com/MovieChart1/posts/909850685743051">Thursday, June 8, 2016</a>
        </blockquote>
    </div>
</div>